<% @title = "Contact" %>

<% provide(:title, @title) %>


<h1 class="static-page-title"><%= @title %></h1>

<div class="static-page-text">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus metus aliquam eleifend mi in. Massa sapien faucibus et molestie ac feugiat sed lectus. Lectus mauris ultrices eros in cursus turpis. Egestas quis ipsum suspendisse ultrices gravida dictum. Cras ornare arcu dui vivamus arcu felis bibendum ut. Aliquam ultrices sagittis orci a scelerisque purus. Nisl vel pretium lectus quam id leo. Morbi leo urna molestie at elementum eu. Donec enim diam vulputate ut pharetra sit amet aliquam id. Imperdiet massa tincidunt nunc pulvinar sapien et. Ultrices eros in cursus turpis. Porta nibh venenatis cras sed felis eget velit aliquet sagittis. Eu lobortis elementum nibh tellus molestie nunc non. Sed enim ut sem viverra aliquet eget. Cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Amet purus gravida quis blandit turpis cursus in.
  </p>
  <p>
    Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. Commodo viverra maecenas accumsan lacus vel facilisis volutpat. Odio ut enim blandit volutpat maecenas volutpat. Sapien eget mi proin sed. Viverra aliquet eget sit amet tellus cras. Gravida dictum fusce ut placerat orci nulla. Id leo in vitae turpis massa sed elementum tempus egestas. Vitae purus faucibus ornare suspendisse. Tortor pretium viverra suspendisse potenti nullam ac tortor vitae purus. Tristique et egestas quis ipsum. Lacinia quis vel eros donec ac odio tempor orci dapibus. Tempor orci eu lobortis elementum nibh tellus. Diam sollicitudin tempor id eu nisl nunc mi ipsum. Sed nisi lacus sed viverra tellus in hac habitasse platea. Aliquet sagittis id consectetur purus. Lectus arcu bibendum at varius vel pharetra vel.
  </p>

  <h6><b>Phone Number:</b> 1(800)555-6060</h6>
  <h6><b>Email Address:</b> poofolio@poolfolio.com</h6>
  <h6><b>Address:</b> 123 S. UCLA, Los Angeles, CA 90024</h6>

</div>
