<div id="front-home">
  <div id="tagline">
    <h2>Collaborative Investing.</h2>
    <h2 class="font-weight-bold">Redefined.</h2>
  </div>
  <%= link_to "GET STARTED", signup_path, class: "btn btn-flat", id:"home-signup" %>
  <!-- <p id="tagline-description">Create teams to pool together funds and vote on investment suggestions in an attempt to collaboratively grow your portfolio.</p> -->
</div>
