<div id="front-home">
  <div id="tagline">
    <h2>Collaborative Investing.</h2>
    <h2 class="font-weight-bold">Redefined.</h2>
  </div>
  <% if !user_signed_in? %>
    <%= link_to "GET STARTED", new_user_registration_path, class: "btn btn-flat", id:"home-signup" %>
  <% else %>
    <%= link_to "YOUR PORTFOLIO", '#', class: "btn btn-flat", id:"home-signup" %>
  <% end %>
  <!-- <p id="tagline-description">Create teams to pool together funds and vote on investment suggestions in an attempt to collaboratively grow your portfolio.</p> -->
</div>
