<div class="row">
    <ul>
        <% @users.each do |user| %>
            <li>
                <%= user.firstname %> <%= user.lastname %>: <%= user.email %> <%= user.team_id %>
            </li>
        <% end %>
    </ul>
</div>
