@import "bootstrap";

/* Flat Colors*/
  $turquoise: #1abc9c;
  $emerald: #2ecc71;
  $river: #3498db;
  $amethyst: #9b59b6;
  $asphalt: #34495e;
  $green-sea: #16a085;
  $nephritis: #27ae60;
  $dark-blue: #2980b9;
  $wisteria: #8e44ad;
  $midnight-blue: #2c3e50;
  $sunflower: #f1c40f;
  $carrot: #e67e22;
  $ruby: #e74c3c;
  $clouds: #ecf0f1;
  $lynx-white: #f5f6fa;
  $concrete: #95a5a6;
  $orange: #f39c12;
  $pumkin: #d35400;
  $pomegranate: #c0392b;
  $silver: #bdc3c7;
  $asbestos: #7f8c8d;


/* universal */

#paginate{
  a{
    color: white !important;
    margin-left: 0.5em;
    margin-right: 0.5em;

    &:hover{
      color: $emerald !important;
      text-decoration: none;
    }
  }
}

.paginate{
  margin: 1em auto;
  text-align: center;
}

body {
  background-color: $lynx-white;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  //padding-top: 60px;

}

.user-hub {
  background-color: $lynx-white;
  #paginate{
    a{
      color: $river !important;
      margin-left: 0.5em;
      margin-right: 0.5em;
      &:hover{
        color: $emerald !important;
        text-decoration: none;
      }
    }
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

a {
  color: $asbestos;

  &:hover{
    color: $emerald;
    text-decoration: none;
  }
}


.suggestion-body {

    tr{
      background-color: $clouds;
      border: 1px $asbestos solid;
    }

    td{
      padding: 1em;
    }

    .sell{
      color: $ruby;
    }

    .buy{
      color: $green-sea;
    }

}


/* header */

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 2em;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

header{
  ul{
    list-style: none;

    li{
      font-size: 1.4em;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: -1px;
      padding-top: 9px;
      float: left;
      margin-left: 15px;
    }
  }

}

.notification-top-bar{
  margin-top: 1em;
  margin-bottom: -1em;
}

// .container{
//   padding: 0;
//   margin: 0;
//   text-align: right;
// }

#main-nav{
  padding: 0;
  margin: 0;
}

nav{
  li{
    text-transform: uppercase;
  }

}

/* Homepage */
#tagline{
  margin-top: 18em;
}

#tagline-description{
  margin-top: 10em;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  color: $asphalt;
}

#front-home{
  margin-bottom: 26em;
}

#home-signup{
  margin: 22px 0;
}

/* Button */
.btn-flat{
  border: 2px solid $asphalt;
  border-radius: 5px;
  padding: 10px 30px;

  &:hover{
    background-color: $silver;
    color: $clouds;
    border-color: $clouds;
  }
}

.btn-like {
  color: #fff;
  background-color: $nephritis;
  border-color: $nephritis;
  margin: 1px;
  display: inline;

  &:hover {
    color: $clouds;
    background-color: $green-sea;
    border-color: $green-sea;
  }
}

.btn-execute {
  color: #fff;
  background-color: $orange;
  border-color: $orange;
  margin: 1px;
  display: inline;

  &:hover {
    color: $clouds;
    background-color: $pumkin;
    border-color: $pumkin;
  }
}

.btn-unlike {
  color: #fff;
  background-color: $ruby;
  border-color: $ruby;
  margin: 1px;
  display: inline;

  &:hover {
    color: $clouds;
    background-color: $pomegranate;
    border-color: $pomegranate;
  }
}

/* Footer Styling */


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $concrete;
  color: $asbestos;
  //margin: 0 20px;
  //background-color: $emerald;

  small{
    float: left;
  }

  ul{
    float: right;
    list-style: none;

    li{
      float: left;
      margin-left: 15px;
    }
  }
}

footer a {
  //color: $asbestos;

  &:hover{
    color: $emerald;
  }
}

/* Static Page */
.static-page-title{
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

.static-page-text{
  margin: 50px 20px 20px 20px ;
  text-align: justify;
}

/* Sign Up */

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;

		&:focus {
		  z-index: 2;
		}
	}

  input{
    margin-bottom: 1em;
  }
}

// .row {
//   margin-top: 40px;
// }
